.Procedure {
    color: aliceblue;
}

.Property {
    color: lawngreen;
}

.Lemma {
    color: violet;
}

.Assertion {
    color: orangered;
}

.Invariant {
    color: teal;
}

.Precondition {
    color: darkmagenta;
}

.Postcondition {
    color: darkblue;
}

.tooltip {

}

.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
