{% for entry in recursive_structure %}
    {% if entry.is_valid %}
        <li>
        {% spaceless %}
            {{ entry }}
            {% if entry.directory_set.all|length or entry.file_set.all|length %}
                <ul>
                    {% include "frama/directory_tree_recursive.html" with recursive_structure=entry.directory_set.all %}
                    {% for file in entry.file_set.all %}
                        {% if file.is_valid %}
                        <li>
                            <a id="choose-file-{{ file.name }}" onclick="change_file(`{{ file.name }}`)" style="color: blue">{{ file }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endfor %}
