{% for entry in recursive_structure %}
    {% if entry.is_valid %}
        <li>
        {% spaceless %}
            {{ entry }}
            {% if entry.directory_set.all|length or entry.file_set.all|length %}
                <ul>
                    {% include "frama/directory_tree_recursive.html" with recursive_structure=entry.directory_set.all %}
                    {% for file in entry.file_set.all %}
                        {% if file.is_valid %}
                        <li>
                            <a href="{% url 'main-tab-file' 'result' file.name %}" {% if chosen_file == file %}style="color: red" {% endif %}>{{ file }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endfor %}
