{% load static %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/darcula.css' %}">
<link rel="stylesheet" href="{% static 'frama/css/file_content.css' %}">
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
<script src="{% static 'codemirror/addon/mode/keyword.js' %}"></script>

<div><textarea id="file-content">
{{ file_content }}
</textarea></div>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("file-content"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-csrc",
        theme: "darcula",
        keyword: {
            "predicate": "procedure",
            "loop": "invariant",
            "invariant": "invariant",
            "variant": "invariant",
            "assert": "assertion",
            "requires": "precondition",
            "ensures": "postcondition",
        }
    });
</script>
