<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App interface</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frama/css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="full-height">
    <div class="topnav">
        <a href="{% url 'main' %}">Main</a>
        <a onclick="navigation_clicked('file/add')">Add file</a>
        <a onclick="navigation_clicked('file/delete')">Delete file</a>
        <a onclick="navigation_clicked('file-section/add')">Divide File</a>
        <a onclick="navigation_clicked('directory/add')">Add directory</a>
        <a onclick="navigation_clicked('directory/delete')">Delete directory</a>
        <a href="{% url 'logout' %}" id="logout-tab">Logout</a>
    </div>
    <div class="flex-grid" id="page-data">
        <div class="col" id="files">
            <h3>File Selection dialog</h3>
            <ul>
                {% include "frama/directory_tree_recursive.html" %}
            </ul>
        </div>
        <div class="col">
            <div class="flex-grid" id="code-elements">
                <div class="col">
                    <h3>Text field for program code</h3>
                    <div id="file-content-data"></div>
                </div>
                <div class="col" id="elements">
                    <h3>Focus on program elements</h3>
                    <div id="program-elements-data"></div>
                </div>
            </div>
            <div id="tabs">
                <div class="topnav">
                    <a id="tab-provers" onclick="tab_clicked('provers', `{{ chosen_file_path }}`)" >PROVERS</a>
                    <a id="tab-vcs" onclick="tab_clicked('vcs', `{{ chosen_file_path }}`)" >VCs</a>
                    <a id="tab-result" onclick="tab_clicked('result', `{{ chosen_file_path }}`)" >RESULT</a>
                </div>
                <div id="tabs-data">
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'frama/js/reload_tabs.js' %}"></script>
</body>
</html>
