<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App interface</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frama/css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="full-height">
    <div class="topnav">
        <a href="{% url 'file-add' %}">Add file</a>
        <a href="{% url 'file-delete' %}">Delete file</a>
        <a href="{% url 'file-section-add' %}">Divide File</a>
        <a href="{% url 'directory-add' %}">Add directory</a>
        <a href="{% url 'directory-delete' %}">Delete directory</a>
    </div>
    <div class="flex-grid">
        <div class="col" id="files">
            <h3>File Selection dialog</h3>
            <ul>
                {% include "frama/directory_tree_recursive.html" %}
            </ul>
        </div>
        <div class="col">
            <div class="flex-grid" id="code-elements">
                <div class="col">
                    <h3>Text field for program code</h3>
                    {% include "frama/file_content.html" %}
                </div>
                <div class="col" id="elements">
                    <h3>Focus on program elements</h3>
                    {% include "frama/program_elements.html" %}
                </div>
            </div>
            <div id="tabs">
                <div class="topnav">
                    <a href="{% if chosen_file %}{% url 'main-tab-file' 'provers' chosen_file.name %}{% else %}{% url 'main' %}{% endif %}">PROVERS</a>
                    <a href="{% if chosen_file %}{% url 'main-tab-file' 'vcs' chosen_file.name %}{% else %}{% url 'main' %}{% endif %}">VCs</a>
                    <a href="{% if chosen_file %}{% url 'main-tab-file' 'result' chosen_file.name %}{% else %}{% url 'main' %}{% endif %}">RESULT</a>
                </div>
                <div id="tabs-data">
                    {% include "frama/tab_data.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
