<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App interface</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frama/css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="full-height">
    <div class="topnav">
        <a href="#">File</a>
        <a href="#">Edit</a>
        <a href="#">View</a>
        <a href="#">Search</a>
        <a href="#">Project</a>
        <a href="#">Build</a>
    </div>
    <div class="flex-grid">
        <div class="col" id="files">
            <h3>File Selection dialog</h3>
            <ul>
                {% include "frama/directory_tree_recursive.html" %}
            </ul>
        </div>
        <div class="col">
            <div class="flex-grid" id="code-elements">
                <div class="col">
                    <h3>Text field for program code</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus
                        venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus
                        eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent
                        scelerisque tortor sed accumsan convallis.</p>
                </div>
                <div class="col" id="elements">
                    <h3>Focus on program elements</h3>
                    {% include "frama/program_elements.html" %}
                </div>
            </div>
            <div id="tabs">
                <div class="topnav">
                    <a href="#">Tab 1</a>
                    <a href="#">Tab 2</a>
                    <a href="#">Tab 3</a>
                </div>
                <div>
                    <h3>Container for tab data</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
