{#<p id="random">Click Here to change idk what</p>#}
<div id="tabs">
{% spaceless %}
{#{% if chosen_file %}#}
{% if is_chosen_file %}
{% if is_result %}
<pre>{{ chosen_tab }}</pre>
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ chosen_tab }}
        <button type="submit">Choose</button>
    </form>
{% endif %}
{% else %}
    Please choose a file
{% endif %}
{% endspaceless %}
</div>

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>#}
{##}
{#{% load static %}#}
{#<script src="{% static 'frama/js/reload_tabs.js' %}"></script>#}